<app-navbar></app-navbar>
<div class="row navbar-bottom">
    


<div class="toggle">
    <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup"
                             value="active"
                             aria-label="Change color">
      <mat-button-toggle value="active">Active</mat-button-toggle>
      <mat-button-toggle value="inavtice">Inactive</mat-button-toggle>
    </mat-button-toggle-group>
    
</div>

<button class="button" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add Event</button>

</div>

<div class="cards">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>
          <p>Lubbock,TX(address)</p>
          <p>Monterey church of christ(organizer)</p>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content class="card-content">
      
      <div class="date-content">
        <mat-form-field>
          <mat-label>START DATE</mat-label>
          <input matInput [matDatepicker]="picker1" [value]="date.value">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="date-content">
        <mat-form-field>
          <mat-label>END DATE</mat-label>
          <input matInput [matDatepicker]="picker2" [value]="date.value">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

    </mat-card-content>


  </mat-card>
    
</div>