<h1 mat-dialog-title>Create People</h1>

<div mat-dialog-content>
    <div class="row">
       <mat-form-field> 
        <mat-label>Name</mat-label>
        <input  matInput type="text" (ngModel)="eventName" ngDefaultControl required/>
       </mat-form-field> 
    </div>

     <div class="row">
        <mat-form-field> 
            <mat-label>Surname</mat-label>
            <input  matInput type="text" (ngModel)="eventName" ngDefaultControl required/>
           </mat-form-field> 
     </div>
     <div class="row">
        <mat-form-field> 
            <mat-label>Role</mat-label>
            <input  matInput type="text" (ngModel)="eventName" ngDefaultControl required/>
           </mat-form-field> 
     </div>

     <mat-divider></mat-divider>
     <div mat-dialog-actions class="button">
        <button mat-flat-button mat-dialog-close>Close</button>
        <button mat-flat-button color="primary" ngbTooltip="Upload">
          Save
         
        </button>


    </div>
</div>
