.mat-tab-group {
    margin-bottom: 48px;
    
  }
  .tab-icon {
    margin-right: 8px;
  }

  .background {
    background-color: rgba(234, 234, 234, 0.537);
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }