.button {
    
    align-items: center;
    /* justify-content: end; */
    width: 30%;
}

.navbar-bottom {
    margin-top: 10px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}

.toggle {
    width: 70%;
    
}

.cards {
    margin-top : 10px;
}

.example-card {
    @media(max-width:767px){
        max-width: 50%;
    }

    @media(min-width:768px){
        max-width: 30%;
    }
    
    margin-bottom: 8px;
    overflow: auto;
  }

  .card-content {
    overflow: auto;
    margin-top: 5px;
    padding-top: 10px;
    background-color: rgba(234, 234, 234, 0.537);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media(max-width:800px){
        display: flex;
        flex-direction: column;
        
    }
    
  }

  .date-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 20px;
    @media(max-width:767px){
        padding-bottom : 10px;
        
    }

  }